include partials/header
.container.postContainer
	.col-sm-8.col-offset-2
		h1 #{post.title}
		img.img-responsive(src=post.img)
		.formDiv.col-sm-12
		if email
			form(method='POST' action=`/single/${post.id}/comment`)
				.form-group
					label(for='comments') Comment
					textarea.form-control#comments(name='comments')
				.form-group.btn
					button(type="submit") Submit
		ul
			each comment in post.comments
				li #{comment.comment} - #{comment.userName}
